/*.card1{
    background-image: url();
}

.card2{
    background-image: url();
}

.card3{
    background-image: url();
}

.card4{
    background-image: url();
}

.card5{
    background-image: url();
}

.card6{
    background-image: url();
}

.card7{
    background-image: url();
}

.card8{
    background-image: url();
}

.card9{
    background-image: url();
}

.card10{
    background-image: url();
}

.card11{
    background-image: url();
}

.card12{
    background-image: url();
}

.card13{
    background-image: url();
}

.card14{
    background-image: url();
}

.card15{
    background-image: url();
}

.card16{
    background-image: url();
}

.card17{
    background-image: url();
}

.card18{
    background-image: url();
}*/